<!doctype html>
<html>
<head>
  <link href="/static/css/chat2.css" style="text/css" rel="stylesheet">
</head>
<body>
  <!--
  <div id="chatrooms">
    <ul class="clearfix">
      <li class="chatroom">
        <div class="chat-content">
          <div class="msg-block hint">
            Hello World
          </div>
          <div class="msg-block info">
            Hello World
          </div>
          <div class="msg-block clearfix">
            <div class="chat-user">Sheimi <span>says:</span></div>
            <div class="chat-msg">
              Hello World
              Hello World
              Hello World
              Hello World
            </div>
          </div>
          <div class="msg-block clearfix">
            <div class="chat-me">I <span>says:</span></div>
            <div class="chat-msg">
              Hello World
              Hello World
              Hello World
              Hello World
            </div>
          </div>
        </div>  
      </li>
    </ul>
    <div class="chat-input">
      <input placeholder="Your Message ..." id="chat-input" type="text" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="en">
    </div>
  </div>
  -->
</body>
<script src="/static/js/chat2.js"></script>
</html>
